.category-special-videos {
  position: absolute;
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 99999999;
  transition: 0.3s opacity !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.category-special-videos:hover {
  opacity: 1 !important;
}
.category-special-videos > div {
  width: calc(100% - 20px);
  height: 210px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  width: calc(100% - 40px);
  height: 100%;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 95%, 0.1);
  }
  100% {
    background-color: hsla(0, 0%, 0%, 0.1);
  }
}
@media only screen and (max-width: 800px) {
  .mv-header-add-video-btn {
    display: none !important;
  }
  .mv-theme-changer {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 650px) {
  .mv-searchbar {
    width: 350px !important;
  }
}

@media only screen and (max-width: 500px) {
  .mv-searchbar {
    width: 300px !important;
  }
}

@media only screen and (max-width: 420px) {
  .mv-searchbar {
    width: 250px !important;
  }
}
